[submodule "sensing/vectornav"]
	path = sensing/vectornav
	url = https://github.com/dawonn/vectornav.git
	branch = ros2
[submodule "sensing/zed-ros2-wrapper"]
	path = sensing/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "control/twist_mux"]
	path = control/twist_mux
	url = https://github.com/ros-teleop/twist_mux.git
[submodule "perception/yolop/yolop"]
	path = perception/yolop/yolop
	url = https://github.com/hustvl/YOLOP.git
[submodule "common"]
	path = common
	url = https://github.com/aiformula-support/aiformula_common
