[submodule "sensing/vectornav"]
	path = sensing/vectornav
	url = https://github.com/dawonn/vectornav.git
	branch = ros2
[submodule "sensing/zed-ros2-wrapper"]
	path = sensing/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
