<?xml version="1.0"?>

<model>
  <name>ai_car1</name>
  <version>2.0</version>
  <!-- <sdf version="1.4">model-1_4.sdf</sdf> -->
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Masaya Okada</name>
    <email>masaya_okada@jp.honda</email>
  </author>

  <description>
    ai_car1
  </description>
</model>
